@import url(./vendor/normilize.css);
/* @import url(./fonts/fonts.css); */
@import url(./blocks/header/header.css);
@import url(./blocks/background/background.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__title-box/profile__title-box.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__group/element__group.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__name/element__name.css);
@import url(./blocks/element/__box/element__box.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/popup/__name/popup__name.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__button-text/popup__button-text.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__box/popup__box.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-name/popup__image-name.css);
@import url(./blocks/element/__bracket/element__bracket.css);
@import url(./blocks/element/__group/_active/element__group_active.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__field/_state/popup__field_state_invalid.css);
@import url(./blocks/popup/__submit-button/_state/popup__submit-button_state_invalid.css);
@import url(./blocks/popup/__input-box/popup__input-box.css);
@import url(./blocks/element/__like-box/element__like-box.css);
@import url(./blocks/element/__group-count/element__group-count.css);
@import url(./blocks/element/__bracket/_disabled/element__bracket_disabled.css);
@import url(./blocks/profile/__avatar-place/profile__avatar-place.css);
@import url(./blocks/profile/__add-image/profile__avatar-button.css);